@model IEnumerable<StudyPortal.Models.Mvc>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$(".flip").click(function () {
        //    $("#panel").slideToggle("slow");
        //});

        $('.flip').click(function () {
            $(this).next('.panel').slideToggle();
        });//var idCount = 1;
        //$('div').each(function () {
        //    $(this).attr('id', 'q' + idCount);
        //    idCount++;
        //});

    });
</script>
<style>

.question{
width:75%;

}
.Panel, .flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

.panel {
    padding: 50px;
    display: none;
}
.option
{}

</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
                      @*@{ int counter = 0;
                          foreach (var item in Model) { 
                      <div class="container" style="margin-top:30px;margin-bottom:30px;border:groove">

                          <div class="question">

                              <b>@Html.DisplayNameFor(model => model.Question)</b> @(++counter) :   @Html.DisplayFor(modelItem => item.Question) 
                              
                          </div>
                          <div>
                            
                          </div>

                          <div>
                              <b> @Html.DisplayNameFor(model => model.OptionA)</b>  @Html.DisplayFor(modelItem => item.OptionA)
                          </div>


                          <div>
                              <b>@Html.DisplayNameFor(model => model.OptionB) </b>  @Html.DisplayFor(modelItem => item.OptionB)
                          </div>

                          <div>
                              <b> @Html.DisplayNameFor(model => model.OptionC) </b> @Html.DisplayFor(modelItem => item.OptionC)
                          </div>

                          <div>
                              <b> @Html.DisplayNameFor(model => model.OptionD) </b> @Html.DisplayFor(modelItem => item.OptionD)
                          </div>
                         


                          <div class="flip">
                               View Answer
                         </div>
                          <div class="panel"> @Html.DisplayFor(modelItem => item.Answer)</div>
                               
                           </div>
                       
                          }
                     }*@ 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>

 <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>

             <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MvcId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MvcId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MvcId })
        </td>
    </tr>
}

</table>
