@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<StudyPortal.Models.Mvc>

    @*@model IEnumerable<StudyPortal.Models.Mvc>*@

        @{
        ViewBag.Title = "Introduction";
        }

        <h2>Introduction</h2>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                //$(".flip").click(function () {
                //    $("#panel").slideToggle("slow");
                //});

                $('.flip').click(function () {
                    $(this).next('.panel').slideToggle();
                });//var idCount = 1;
                //$('div').each(function () {
                //    $(this).attr('id', 'q' + idCount);
                //    idCount++;
                //});

            });
        </script>
        <style>
            .question {
                width: 75%;
border:groove;

            }

            .Panel, .flip {
                padding: 5px;
                text-align: center;
                background-color: #e5eecc;
                border: solid 1px #c3c3c3;
            }

            .panel {
                padding: 50px;
                display: none;
            }

            .option {
            }
.no-padding-column {
    padding: 0;
}
.left-menu {
    background: #f7f7f7;
    border-right: 1px solid #899c9e;
    border-bottom: 1px solid #899c9e;
    padding: 0;
    width: 100%;
height:100%;
}
        </style>



                      








                            <div class="row">

                                <div class="col-sm-3">

                                    <div class="nav-panel ">


                                        <ul class="collapsible" style="font-size:18px">
                                            <li class="bold">
                                                <a class="collapsible-header waves-effect waves-light subject">Introduction</a>
                                            </li>
                                            <li>
                                                <a>Data type </a>
                                            </li>
                                            <li>
                                                <a>If Else</a>
                                            </li>
                                            <li>
                                                <a>Loops</a>
                                            </li>
                                            <li>
                                                <a>Array</a>
                                            </li>
                                            <li>
                                                <a>Pointer</a>
                                            </li>
                                            <li>
                                                <a>Structure</a>
                                            </li>
                                            <li>
                                                <a>Structure</a>
                                            </li>
                                            <li>
                                                <a>Structure</a>
                                            </li>
                                            <li>
                                                <a>Structure</a>
                                            </li>
                                            <li>
                                                <a>Structure</a>
                                            </li>
                                            <li>
                                                <a>Structure</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="question col-sm-10" style="float:right">
                                    @{ int counter = 0;
                                    foreach (var item in Model) {


                                    <div>

                                        <b>@Html.DisplayNameFor(model => item.Question)</b> @(++counter) :   @Html.DisplayFor(modelItem => item.Question)

                                    </div>
                                    <div>

                                    </div>

                                    <div>
                                        <b> @Html.DisplayNameFor(model => item.OptionA)</b>  @Html.DisplayFor(modelItem => item.OptionA)
                                    </div>


                                    <div>
                                        <b>@Html.DisplayNameFor(model => item.OptionB) </b>  @Html.DisplayFor(modelItem => item.OptionB)
                                    </div>

                                    <div>
                                        <b> @Html.DisplayNameFor(model => item.OptionC) </b> @Html.DisplayFor(modelItem => item.OptionC)
                                    </div>

                                    <div>
                                        <b> @Html.DisplayNameFor(model => item.OptionD) </b> @Html.DisplayFor(modelItem => item.OptionD)
                                    </div>


                                    <div class="flip">
                                        View Answer
                                    </div>
                                    <div class="panel"> @Html.DisplayFor(modelItem => item.Answer)</div>



                                    }
                                    }

                                    <div class="pagedList">
                                        @Html.PagedListPager(Model, page => Url.Action("Introduction", new { page}))
                                        @*@Html.PagedListPager( Model, page => Url.Action("Intoduction", new { page }), PagedListRenderOptions.PageNumbersOnly)*@
                                    </div>
                                </div>
                            </div>